* {
	margin: 0;
}

#header {
	height: 60px;
	width: 100%;
	background: lightblue;
	position: fixed;
}

#header2 {
	height: 45px;
	width: calc(100% - 13%);
	/* background: lightgrey; */
	top: 60px;
	left: 13%;
	position: fixed;
}

#header2 .head2menu li {
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 7.5%;
	background: rgb(236, 235, 235);
	margin-left: 20px;
}

#header2 .head2menu li:hover {
	transition: 0.5s;
	background: rgb(224, 223, 223);
	cursor: pointer;
}

#sidebar {
	height: calc(100vh - 60px);
	/* background: lightcoral; */
	width: 13%;
	position: fixed;
	left: 0;
	top: 60px;
	overflow: auto;
}

#sidebar .sidemenu ul {
	list-style: none;
	padding: 10%;
}

#sidebar .sidemenu li {
	line-height: 2;
	font-size: 16px;
	color: black;
	/* text-decoration: none; */
	display: block;
	padding: 4px 0;
	transition: 0.1s;
}

#sidebar .sidemenu li:hover {
	margin: auto;
	border-radius: 5%;
	background: rgb(187, 183, 183, 0.2);
	cursor: pointer;
}

#sidebar .sidemenu h1 {
	font-size: 20px;
	margin-left: 20%;
	line-height: 2;
}

#sidebar .sidemenu h2 {
	font-size: 16px;
	padding: 0.5rem 1.5rem;
	text-align: center;
}

#sidebar .sidemenu ul li > i {
	width: 30px;
	font-size: 1rem;
	color: black;
}

.login {
	width: 30%;
	height: 20px;
	padding: 4px 0;
	border-radius: 20px;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 5%;
	border: 1px solid rgb(149, 149, 245);
}

.login p {
	width: 30px;
	font-size: 1rem;
	color: black;
}

.login:hover {
	width: 30%;
	height: 20px;
	padding: 4px 0;
	border-radius: 20px;
	margin-left: 15%;
	margin-bottom: 5%;
	background: rgb(220, 220, 243);
	cursor: pointer;
}

#content {
	width: calc(100% - 15%);
	margin-left: 15%;
	background: lightpink;
}
