* {
	margin: 0;
}

#header {
	height: 60px;
	width: 100%;
	background: lightblue;
	position: fixed;
}

#header2 {
	height: 45px;
	width: calc(100% - 13%);
	/* background: lightgrey; */
	top: 60px;
	left: 13%;
	position: fixed;
}

#header2 .head2menu li {
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	transition: 0.5s;
	border-radius: 7.5%;
	background: rgb(236, 235, 235);
	margin-left: 20px;
}

/* #header2 .head2menu li:hover {
	margin: auto;
} */

#sidebar {
	height: calc(100vh - 60px);
	/* background: lightcoral; */
	width: 13%;
	position: fixed;
	left: 0;
	top: 60px;
	overflow: auto;
}

#sidebar .sidemenu ul {
	list-style: none;
}

#sidebar .sidemenu li {
	line-height: 2;
	font-size: 16px;
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.5rem 1.5rem;
	transition: 0.1s;
}

#sidebar .sidemenu li:hover {
	margin: auto;
	width: 75%;
	border-radius: 5%;
	background: rgb(223, 219, 219);
}

#sidebar .sidemenu h1 {
	font-size: 20px;
	margin-left: 20%;
	line-height: 2;
}

/* #sidebar .sidemenu > i {
	width: 30px;
	line-height: 3;
	font-size: 1.3rem;
	color: lightpink;
} */

#content {
	width: calc(100% - 15%);
	margin-left: 15%;
	background: lightpink;
}
